#chapter {
  padding: 140px 0;
  background-color: #f0f2f5;
  background-image: url("../images/ebook3-section-bg3.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  .wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
  .chapter-top {
    display: flex;
    gap: 85px;
    @media (max-width: 991px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .chapter-content {
      max-width: 375px;
      width: 100%;
      margin-bottom: 80px;
      @media (max-width: 768px) {
        max-width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      &__subtitle {
        position: relative;
        margin-bottom: 30px;

        &::before {
          background-color: var(--color-white);
          width: 78px;
          height: 40px;
          min-height: 0px;
          min-width: 0px;
          border-radius: 20px;
          transform-origin: 50% 50%;
          color: var(--color-background);
          content: "";
          position: absolute;
          z-index: 1;
          top: -8px;
          left: -20px;
        }
        h4 {
          font-size: 16px;
          line-height: 26px;
          font-weight: 500;
          position: relative;
          z-index: 2;
          font-family: var(--font-primary);
          text-transform: uppercase;
          color: var(--color-background);
        }
      }
      &__title {
        h2 {
          font-family: var(--font-seconds);
          font-size: 48px;
          font-weight: 700;
          line-height: 52px;
          @media (max-width: 768px) {
            font-size: 36px;
          }
        }
        padding-bottom: 80px;
        border-bottom: 1px solid var(--color-black);
        @media (max-width: 768px) {
          padding-bottom: 0px;
          border: none;
        }
      }
    }
    .chapter-desc {
      p {
        font-family: var(--font-seconds);
        font-size: 34px;
        font-weight: 500;
        line-height: 44px;
        color: var(--color-background);
        @media (max-width: 768px) {
          font-size: 26px;
          line-height: 33px;
        }
      }
    }
  }
  .chapter-bottom {
    display: flex;
    gap: 85px;
    @media (max-width: 991px) {
      padding-left: 40px;
      padding-right: 40px;
      gap: 50px;
    }
    .chapter-image {
      max-width: 385px;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .chapter-info {
      &-content {
        margin-bottom: 55px;
        p {
          font-family: var(--font-primary);
          font-size: 18px;
          font-weight: 400;
          line-height: 26px;
          color: var(--color-background);
          margin-bottom: 30px;
        }
      }
      &-button {
        display: flex;
        align-items: center;
        gap: 60px;
        .box-price {
          .price {
            font-family: var(--font-seconds);
            font-size: 34px;
            font-weight: 500;
            line-height: 44px;
            color: var(--color-orange);
          }
          .text {
            font-family: var(--font-primary);
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            color: var(--color-background);
          }
        }
        .button-down {
          display: inline-block;
          border-radius: 24px;
          font-family: var(--font-primary);
          font-weight: 500;
          line-height: 16px;
          padding: 12px 40px;
          color: var(--color-white);
          background-color: var(--color-orange);
          transition: all 0.3s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
