#footer {
    padding: 70px 0 0;
    background-color: var(--color-background);
    position: relative;
    nav {
        max-width: 1080px;
        margin: 0 auto;
        padding-bottom: 90px;
        .footer-logo {
            margin: 0 auto 50px;
            display: block;
            width: max-content;
            height: max-content;
            image {
                aspect-ratio: 149/28;
                object-fit: contain;
            }
        }
        ul {
            width: max-content;
            list-style-type: none;
            padding-left: 16px;
            margin: 0 auto;
            li {
                margin-bottom: 15px;

                .title {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 500;
                    color: var(--color-white);
                    margin-bottom: 36px;
                }
                a {
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #ccc;
                    transition: all 0.3s;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .copyright {
        max-width: 1080px;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 30px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #ccc;
        position: relative;
        text-align: center;
        a {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #ddd;
            transition: all 0.3s;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    .icon-back-to-top {
        position: absolute;
        bottom: 50%;
        right: 0;
        width: 20px;
        height: 20px;
        transform: translateY(50%);
        cursor: pointer;
        @media (max-width: 768px) {
            bottom: 90%;
            right: 50%;
            width: 20px;
            height: 20px;
            transform: translateY(50%);
        }
    }
}
