:root {
    /* color */
    --color-primary: #1f58ff;
    --color-background-body: #f8f8f8;
    --color-first: #444444;
    --color-background: #141414;
    --color-button-hover: #5b84ff;
    --color-orange: #ff6600;
    /* color common */
    --color-black: #000;
    --color-white: #fff;

    /* font */
    --font-primary: "Roboto", sans-serif;
    --font-seconds: "Space Grotesk", sans-serif;
}
html a {
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-background-body);
    font-family: var(--font-primary);
}

.themecolor{
    color: var(--color-primary) !important;
}